@import "../node_modules/bulma/sass/utilities/_all";
@import '../node_modules/bulma/sass/base/_all';
@import "../node_modules/bulma/sass/elements/button";
@import "../node_modules/bulma/sass/elements/icon";
@import "../node_modules/bulma/sass/elements/table";
@import "../node_modules/bulma/sass/elements/other";
@import "../node_modules/bulma/sass/form/_all";
@import "../node_modules/bulma/sass/components/dropdown";
@import "../node_modules/bulma/sass/components/menu";
@import "../node_modules/bulma/sass/components/modal";
@import "../node_modules/bulma/sass/components/navbar";
@import "../node_modules/bulma/sass/components/panel";
@import "../node_modules/bulma/sass/components/tabs";

& {
    /** Apply these here since we can't apply to body */
    box-sizing: border-box;
    line-height: $body-line-height;
    font-family: $body-family;

    background-color: $body-background-color;
    font-size: $body-size;
    min-width: $body-min-width;

    font-family: $body-family;
    color: $body-color;
    font-size: $body-font-size;
    font-weight: $body-weight;
    line-height: $body-line-height;

    .navbar-item, .navbar-link {
        padding: 0.5rem;
    }
}
