@use 'sass:meta';

.mzn-playground {
    @include meta.load-css('./bulma-loader');
}

.mzn-playground-wrapper {
    @extend :root;
    @extend .mzn-playground-theme-setup;

    box-sizing: border-box;
    line-height: var(--bulma-body-line-height);
    font-family: var(--bulma-body-family);

    background-color: var(--bulma-body-background-color);
    font-size: var(--bulma-body-size);
    min-width: var(--bulma-body-min-width);

    color: var(--bulma-body-color);
    font-size: var(--bulma-body-font-size);
    font-weight: var(--bulma-body-weight);

    svg.svelte-fa {
        height: 1em;
        width: 1em;
    }

    .field:not(:last-child) {
        margin-bottom: var(--bulma-block-spacing);
    }

    .navbar-item,
    .navbar-link {
        padding: 0.5rem;
    }

    .output-window pre {
        padding: 0;
        background: none;
        display: inline;
        color: inherit;
        white-space: pre-wrap;
    }

    .mzn-trace,
    .mzn-comment,
    .mzn-stderr,
    .mzn-checker {
        color: var(--mzn-playground-gray) !important;
    }

    .mzn-stat,
    .mzn-runtime {
        color: var(--mzn-playground-blue) !important;
    }

    .mzn-error {
        color: var(--mzn-playground-red) !important;
    }

    .mzn-warning {
        color: var(--mzn-playground-yellow) !important;
    }

    .mzn-link {
        text-decoration: underline !important;
    }

    .button {
        --bulma-button-outer-shadow-a: 0;
        &.is-primary,
        &.is-danger {
            color: #ffffff;
        }
    }

    --mzn-playground-gray: gray;
    --mzn-playground-blue: blue;
    --mzn-playground-red: red;
    --mzn-playground-yellow: #d1d100;
}

.mzn-playground-wrapper.is-dark {
    @extend .mzn-playground-theme-dark-setup;

    --mzn-playground-gray: gray;
    --mzn-playground-blue: #33beff;
    --mzn-playground-red: red;
    --mzn-playground-yellow: #d1d100;

    * {
        scrollbar-width: thin;
        scrollbar-color: hsl(0, 0%, 24%) hsl(0, 0%, 16%);
        &::-webkit-scrollbar {
            width: 8px;
        }
        &::-webkit-scrollbar-track {
            background: hsl(0, 0%, 16%);
        }
        &::-webkit-scrollbar-thumb {
            background-color: hsl(0, 0%, 24%);
        }
    }
}
